ul,li{
    list-style: none;
}
li{
    width: 40%;
    font-size: 15px;
    float: left;
    margin: 5%;
    height: 200px;
    background-size: cover;
    background: rgb(25, 214, 204);
    color: yellow;
}
li img{
   width: 100%;
   height: 120px;
}
